:root {
  --premium-color: #ff00c7;
  --gold-color: #f8c439;
  --silver-color: #ffffff;
  --combo-color: #ff5c00;
  --other-color: #bdff00;
  --border-color: #46484a;

  --index: calc(1vw + 1vh);
  --font-size: min(calc(1vw * 0.8), 30px);

  /* NUMBER COLUMNS */
  --column-category: 15%;
  --column-number: 42%;
  --column-price: 20%;
  --column-btn: 20%;
}

@media (max-width: 480px) {
  :root {
    --column-number: calc(60% - calc(calc(var(--index) * 0.3) / 2));
    --column-price: calc(20% - calc(calc(var(--index) * 0.3) / 2));
    --column-btn: 20%;
  }
}

@media (max-width: 380px) {
  :root {
    --column-number: calc(50% - calc(calc(var(--index) * 0.3) / 2));
    --column-price: calc(25% - calc(calc(var(--index) * 0.3) / 2));
    --column-btn: calc(25% - calc(calc(var(--index) * 0.3) / 2));
  }
}
