.numbers-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0 0 40px;
  list-style: none;
}
.numbers-list li {
  padding: 0;
  width: 100%;
  display: grid;
  font-size: calc(var(--font-size) * 0.8);
  grid-template-columns:
    var(--column-category) var(--column-number) var(--column-price)
    var(--column-btn);
  gap: min(1%, 10px);
  text-transform: uppercase;
}

.numbers-list li > * {
  position: relative;
}

.numbers-list li div,
.numbers-list li button {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 200%;
  animation: shine 3s linear infinite;
}

.numbers-list li.premium div,
.numbers-list li.premium button {
  background-image: linear-gradient(
    45deg,
    transparent 20%,
    transparent 40%,
    var(--premium-color) 50%,
    var(--premium-color) 55%,
    transparent 70%,
    transparent 100%
  );
}

.numbers-list li.gold div,
.numbers-list li.gold button {
  background-image: linear-gradient(
    45deg,
    transparent 20%,
    transparent 40%,
    var(--gold-color) 50%,
    var(--gold-color) 55%,
    transparent 70%,
    transparent 100%
  );
}

.numbers-list li.silver div,
.numbers-list li.silver button {
  background-image: linear-gradient(
    45deg,
    transparent 20%,
    transparent 40%,
    var(--silver-color) 50%,
    var(--silver-color) 55%,
    transparent 70%,
    transparent 100%
  );
}

.numbers-list li.combo div,
.numbers-list li.combo button {
  background-image: linear-gradient(
    45deg,
    transparent 20%,
    transparent 40%,
    var(--combo-color) 50%,
    var(--combo-color) 55%,
    transparent 70%,
    transparent 100%
  );
}

.numbers-list li.other div,
.numbers-list li.other button {
  background-image: linear-gradient(
    45deg,
    transparent 20%,
    transparent 40%,
    var(--other-color) 50%,
    var(--other-color) 55%,
    transparent 70%,
    transparent 100%
  );
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.numbers-list li button {
  cursor: pointer;
  border: none;
}

.numbers-list li span {
  position: relative;

  display: flex;
  justify-content: center;
  align-content: center;

  height: calc(100% - 8px);
  width: calc(100% - 8px);
  padding: 8px 10px;
  margin: 4px;

  color: #fff;
  font-size: min(calc(1vw * 1.9), 20px);
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;

  background-color: #09011e;
}

@media screen and (max-width: 950px) {
  .numbers-list li {
    padding: 0 10px;
    font-size: var(--index);
  }
}

@media (max-width: 680px) {
  .numbers-list li span {
    padding: 8px 4px;
    font-size: 12px;
  }
}

@media (max-width: 580px) {
  .numbers-list li div:first-child {
    display: none;
  }
  .numbers-list li span {
    padding: 8px 4px;
    font-size: 10px;
  }
}

@media (max-width: 580px) {
  .numbers-list li {
    grid-template-columns:
      var(--column-number) var(--column-price)
      var(--column-btn);
  }

  .numbers-list li span {
    padding: 8px 0px;
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .numbers-list li span {
    padding: 8px 0px;
    font-size: 12px;
  }
}
