@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('vars.css');
@import url('components/header.css');
@import url('components/categories.css');
@import url('components/numbers.css');
@import url('components/popup.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  overflow: auto;
}

body {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  background-color: #09011e;
  background-size: 100vh;
  min-height: 100%;
  color: #f4f4f4;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 950px;
  min-width: 320px;
  margin: 0 auto;
}
