@import url(../vars.css);
.categories {
  margin: calc(var(--index) * 1.2) 0;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  max-width: 600px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  /* border: 1px solid red; */
}

.categories p {
  margin: 10px 0 20px;
  text-align: center;
  font-size: 12px;
}

.categories p a {
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.categories p svg {
  position: relative;
  top: 2px;
  width: 14px;
  color: inherit;
}

.categories-list__item {
  width: 32%;
  position: relative;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  background-color: #323232;
  background-size: 200%;
  background-repeat: no-repeat;
  will-change: background-image;
  transform: translateZ(0);
  backface-visibility: hidden;
  animation: shine 3s linear infinite;
}

.categories-list__item.premium {
  background-image: url(../../img/bg-premium.png);
}

.categories-list__item.double {
  background-image: url(../../img/bg-gold.png);
}
.categories-list__item.silver {
  background-image: url(../../img/bg-silver.png);
}
.categories-list__item.combo {
  background-image: url(../../img/bg-combo.png);
}
.categories-list__item.other {
  background-image: url(../../img/bg-other.png);
}

@keyframes shine {
  from {
    background-position: -50% center;
  }
  to {
    background-position: 200% center;
  }
}

.categories-list__item.hide {
  background-image: none;
}

.categories-list__item > .item-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  margin: 2px;
  padding: min(calc(1vw * 0.4), 8px) min(calc(1vw * 0.4), 10px);
  color: #fff;
  background-color: #09011e;
}

@media (max-width: 600px) {
  .categories-list {
    padding: 0 10px;
  }

  .categories-list__item > .item-inner {
    font-size: 14px;
  }

  .categories p {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .categories p a {
    font-size: 12px;
  }
}
