.numbers-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0 0 40px;
  list-style: none;
}
.numbers-list li {
  padding: 0;
  width: 100%;
  display: grid;
  font-size: calc(var(--font-size) * 0.8);
  grid-template-columns:
    var(--column-category) var(--column-number) var(--column-price)
    var(--column-btn);
  gap: min(1%, 10px);
  text-transform: uppercase;
}

.numbers-list li > * {
  position: relative;
}

.numbers-list li div,
.numbers-list li button {
  position: relative;
  background-color: #323232;
  background-repeat: no-repeat;
  background-size: 200%;
  will-change: background-image;
  transform: translateZ(0);
  backface-visibility: hidden;
  animation: shine 3s linear infinite;
}

.numbers-list li.premium div,
.numbers-list li.premium button {
  background-image: url(../../img/bg-premium.png);
}

.numbers-list li.double div,
.numbers-list li.double button {
  background-image: url(../../img/bg-gold.png);
}

.numbers-list li.silver div,
.numbers-list li.silver button {
  background-image: url(../../img/bg-silver.png);
}

.numbers-list li.combo div,
.numbers-list li.combo button {
  background-image: url(../../img/bg-combo.png);
}

.numbers-list li.other div,
.numbers-list li.other button {
  background-image: url(../../img/bg-other.png);
}

@keyframes shine {
  from {
    background-position: -50% center;
  }
  to {
    background-position: 200% center;
  }
}

.numbers-list li button {
  cursor: pointer;
  border: none;
}

.numbers-list li span {
  position: relative;

  display: flex;
  justify-content: center;
  align-content: center;

  height: calc(100% - 4px);
  width: calc(100% - 4px);
  padding: 8px 10px;
  margin: 2px;

  color: #fff;
  font-size: min(calc(1vw * 1.9), 20px);
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;

  background-color: #09011e;
}

@media screen and (max-width: 950px) {
  .numbers-list li {
    padding: 0 10px;
    font-size: var(--index);
  }
}

@media (max-width: 680px) {
  .numbers-list li span {
    padding: 8px 4px;
    font-size: 12px;
  }
}

@media (max-width: 580px) {
  .numbers-list li div:first-child {
    display: none;
  }
  .numbers-list li span {
    padding: 8px 4px;
    font-size: 10px;
  }
}

@media (max-width: 580px) {
  .numbers-list li {
    grid-template-columns:
      var(--column-number) var(--column-price)
      var(--column-btn);
  }

  .numbers-list li span {
    padding: 8px 0px;
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .numbers-list li span {
    padding: 8px 0px;
    font-size: 12px;
  }
}
